extends ./template/baseDashboard.pug
block scripts
    script
        include ./static/theme.js
        include ./static/characterDashboard.js
    script var characters = !{JSON.stringify(characters)}; 

block styles 
    style 
        include ./assets/css/main.css
        include ./assets/css/sidebar.css
        include ./assets/css/menu.css
        include ./assets/css/dashboard.css
        include ./assets/css/characterDashboard.css

block dashboardContent
    .dashboardContent(characters=true)
        h1 
            span.count #{characters.length}
            span.title Characters
        .characterDisplayBox
            each character, index in characters
                include ./components/characterCard.pug


            

        

