extends ./template/baseDashboard.pug
block scripts
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script
        include ./static/theme.js
        include ./static/mainDashboardStatistics.js
    script. 
        var characters = !{JSON.stringify(characters)}; 
        var allQuests = !{JSON.stringify(allQuests)}; 

block styles 
    style 
        include ./assets/css/main.css
        include ./assets/css/sidebar.css
        include ./assets/css/menu.css
        include ./assets/css/dashboard.css

block dashboardContent
    .dashboardContent
        section
            h1 Characters
            .sectionContent
                div.kpiItem
                    span.kpiTitle Highest Character Level
                    span.kpiContent#highestCharacterLevel #{''}     
                div(id='topFiveClasses').chart
                div(id='topFiveRaces').chart
                div(id='topFiveBackgrounds').chart
                div.kpiItem
                    span.kpiTitle Dead Characters
                    span.kpiContent#deadCharacters #{''}
                    
        section 
            h1 Sessions

        section
            h1 Quests
            .sectionContent
                div.kpiItem
                    span.kpiTitle Active quests
                    span.kpiContent#OPEN-quests 
                div.kpiItem
                    span.kpiTitle Expired quests
                    span.kpiContent#EXPIRED-quests 
                div.kpiItem
                    span.kpiTitle Completed quests
                    span.kpiContent#DONE-quests 
                div.kpiItem
                    span.kpiTitle Total quests
                    span.kpiContent#total-quests 
        section
            h1 Location

        section
            h1 Interaction