extends ./template/baseDashboard.pug
block scripts
    script
        include ./static/theme.js
        include ./static/characterDashboard.js
    script var npcs = !{JSON.stringify(npcs)}; 

block styles 
    style 
        include ./assets/css/main.css
        include ./assets/css/sidebar.css
        include ./assets/css/menu.css
        include ./assets/css/dashboard.css
        include ./assets/css/characterDashboard.css

block dashboardContent
    .dashboardContent(characters=true)
        .characterSelectionBox
            h1 
                span.count #{npcs.length}
                span.title Characters
                //- input(placeholder="Search Character", oninput="updateInput(this.value)", spellcheck="false")
            .charactersList
                each character in npcs.reverse()
                    include ./components/characterListItem.pug
        .characterBox
            .cardStack#characterCardStack
                each npc in npcs
                    include ./components/nonPlayableCharacterCard.pug
        

