extends ./template/baseDashboard.pug
block scripts
    script
        include ./static/theme.js
        include ./static/characterDashboard.js
    script var npcs = !{JSON.stringify(npcs)}; 

block styles 
    style 
        include ./assets/css/main.css
        include ./assets/css/sidebar.css
        include ./assets/css/menu.css
        include ./assets/css/dashboard.css
        include ./assets/css/characterDashboard.css
 
block dashboardContent
    .dashboardContent(characters=true)
        .characterBoxWrapper 
            .characterSelectionBox
                h1 
                    span.count #{npcs.length}
                    span.title Non Playable Characters
                .charactersList 
                    ul 
                        each character in npcs
                            li 
                                include ./components/characterListItem.pug
            .characterDisplayBox
                each npc, index in npcs
                    include ./components/nonPlayableCharacterCard.pug
        

