/*CHARACTERS PAGE*/
* {
    --characterList-width: 350px;
    --characterCard-width: 600px;
    /* --characterCard-min-width: 600px; */

    --characterCard-height: 250px;
    --characterCard-left-side-width: 200px;
}

.dashboardContent[quests] .questBox {
    height: 290px;
    padding: 0;
    padding-left: 25px;
    padding-right: 0px;
    max-height: 290px;
    /* z-index: 100; */
    width: calc(100% - 20px);
    /* border: 5px dashed var(--content-color); */
    display: flex;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin-top: 0;
    flex-direction: column;
    /* margin-bottom: auto; */
}

.dashboardContent[characters] {
    display: unset;
    /* box-sizing: border-box;
    justify-content: unset;
    align-items: unset; */
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.dashboardContent[characters] h1 {
    user-select: none;
    width: 100%;
    height: var(--title-height);
    background-color: var(--content-color);
    margin: 0;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
}

.dashboardContent[characters] h1 .count {
    font-size: calc(var(--header-font-size) * 1.25);
}

.dashboardContent[characters] h1 .title {
    margin-left: 10px;
    font-size: var(--header-font-size);
}


.dashboardContent[characters] .characterDisplayBox {
    width: calc(100%);
    height: auto !important;
    border-radius: var(--modal-border-radius);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}

.characterDisplayBox>*{
    flex: 0 0 var(--characterCard-height);
}

.dashboardContent[characters] .characterDisplayBox .characterCard {
    width: var(--characterCard-width);
    min-width: var(--characterCard-width);
    height: var(--characterCard-height);
    min-height: var(--characterCard-height);
    background-color: var(--menu-color);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    pointer-events: auto;
}

.dashboardContent[characters] .characterDisplayBox .characterCard input[type="checkbox"] {
    display: none;
}

.dashboardContent[characters] .characterDisplayBox .characterCard label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 100;
}

.dashboardContent[characters] .characterDisplayBox .characterCard label::after {
    content: "ï”";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    opacity: 1;
    font-family: 'Poppins', 'FontAwesome', sans-serif;
    color: var(--text-color);
    transition: transform 0.2s ease-in-out;
}

.dashboardContent[characters] .characterDisplayBox .characterCard:hover label::after {
    opacity: 1;

}

input[action="show"]:checked~.additional label::after {
    transform-origin: center;
    transform: translateY(-50%) rotate(180deg) !important;
}

.dashboardContent[characters] .characterDisplayBox .characterCard:hover label {
    animation: breathing 1s ease-out infinite normal;
}

.characterCard h1 {
    text-align: center;
    background-color: unset !important;
    padding-left: unset !important;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--placeholder-text-color);
    font-size: 1.2rem;
    gap: 5px;
}

.characterCard h1 span.age {
    margin-right: auto;
    font-size: .7rem;
    height: 100%;
    line-height: 52px;
}

.characterCard h1 .level-wrapper {
    height: 16px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characterCard h1 .level-wrapper img.level {
    height: calc(var(--title-height) / 3) !important;
    width: auto !important;
}

.characterCard .additional {
    position: absolute;
    width: var(--characterCard-left-side-width);
    height: 100%;
    background: var(--average-color);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

input[action="show"]:checked~.additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.characterCard .additional .user-card {
    width: var(--characterCard-left-side-width);
    height: 100%;
    position: relative;
    float: left;
}

.characterCard .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.characterCard .additional .user-card .player {
    height: 22px;
    top: 15%;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 1rem;
    border-radius: 100px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.characterCard .additional .user-card .player {
    top: 93%;
}

.characterCard .additional .user-card .player img {
    object-fit: contain;
    border-radius: 100px;
}

.characterCard .additional .user-card .img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.characterCard .additional .user-card img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.characterCard .additional .more-info {
    width: calc(var(--characterCard-width) - var(--characterCard-left-side-width));
    position: absolute;
    left: var(--characterCard-left-side-width);
    top: 0;
    height: 100%;
    padding: 1rem;
    padding-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboardContent[characters] .characterCard div.infoBundle {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
    gap: 5px;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.4rem;
    border-radius: var(--modal-border-radius);
}

.dashboardContent[characters] .characterCard div.infoBundle .infoPair {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.infoPair .progressBar {
    width: calc(100% - 30px);
    height: 10px;
    position: relative;
    background: #555;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.infoPair .progressBar span {
    width: var(--progress);
    display: block;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow:
        inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.characterCard .additional .stats {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.3rem;
    border-radius: var(--modal-border-radius);
    /* text-align: center; */
    /* align-items: center; */
}


.characterCard .additional .stats>div {
    display: flex;
    gap: 5px;
}

.characterCard .additional .stats img.icon {
    height: 30px;
    width: auto;
}

.characterCard .additional .stats div.title {
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    color: lightgray;   
}

.characterCard .additional .stats div.value {
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.5rem;
    line-height: 27px;
    height: 100%;
    color: var(--navbar-text-color)

}

.characterCard .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.characterCard .general {
    width: calc(var(--characterCard-width) - var(--characterCard-left-side-width));
    height: 100%;
    margin-left: var(--characterCard-left-side-width);
    z-index: 101;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.characterCard .general p {
    height: calc(100% - var(--title-height));
    font-size: 0.75em;
    padding: .5rem;
    box-sizing: border-box;
    text-align: justify;
    overflow-y: scroll;
    margin: 0;
}

.characterCard .general p::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.characterCard .general p::-webkit-scrollbar-track {
    background: transparent;
}

.characterCard .general p::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color);
    border-radius: var(--scrollbar-width);
    border: var(--scrollbar-border-width) solid transparent;
    background-clip: padding-box;
}


.characterCard .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    25% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    60% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    25% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    60% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}