input[type="checkbox"] {
    display: none;
}

input[action="edit"]:checked~.editQuestModal {
    display: flex;
}

input[action="edit"]:checked~.edit-modal-background {
    display: block;
}

.edit-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* display: block; */
    z-index: 9998;

}

.editQuestModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: var(--content-color);
    display: none;
    /* display: flex; */
    flex-direction: column;
    cursor: default;
    z-index: 9999;
    border-radius: 20px;
    overflow: hidden;
}

.modal-content {
    margin-left: 10%;
    margin-right: 10%;

    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10% - 10%);
    /* justify-content: space-evenly; */
}

.modal-content input {
    margin-left: 0;
    border-radius: 5px;
    padding: 5px;
}

.editButton {
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButton>i.fa-spinner {
    position: absolute;
    display: none !important;
    color: var(--content-color);
}

.editButton>i.fa-spinner.active {
    display: block !important;
}

.editQuestModal .modal-content input[type="button"] {
    padding-left: revert;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(51, 170, 250);
    border: none;
    color: var(--content-color);
    font-weight: bolder;
    outline: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.editQuestModal .modal-content input[type="button"]:disabled {
    cursor: default;
    background-color: rgb(94, 186, 216);
}
/* 
.deleteQuestModal .modal-content .cancelButton {
    width: 45%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editQuestModal .modal-content .cancelButton label {
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--sidebar-color);
    border: none;
    color: var(--text-color);
    font-size: .8rem;
    outline: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.editQuestModal .modal-content form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.modal-header {
    background-color: var(--menu-color);
    color: var(--text-color);
    /* border-bottom: 1px solid #dddddd; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    user-select: none;
}

.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 6%;
    line-height: 50px;
    color: var(--text-color);
    font-size: 1.2 rem;
    display: inline-block;
}

.modal-header label {
    box-sizing: border-box;
    /* border-left: 1px solid #dddddd; */
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}

.modal-header label:hover i {
    color: var(--placeholder-text-color);
}

.edit-label {
    user-select: none;
    color: var(--placeholder-text-color);
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: red; */
    transition: all .2s ease;
}

.edit-label i {
    transition: all .5s ease;
}

.edit-label:hover i {

    color: rgb(51, 170, 250);
}

.label-input-section label {
    position: relative;
}
/* 
.deleteQuestModal p {
    font-size: .8rem;
} */

.modal-content p.questDeleteTitle {
    margin-bottom: 0;
}

#edit_quest_description {
    height: 200px;
    padding: 5px;
    resize: none;
    border: none;
    box-shadow: inset 0 0 0 2px var(--menu-color);
    color: var(--text-color);
    background-color: var(--content-color);

    border-radius: 5px;
    color: var(--placeholder-text-color);
    transition: color 0.1s ease-out;
    caret-color: var(--menu-color);
}

#edit_quest_description:focus {
    outline: 0;
    color: var(--text-color);
}

#edit_quest_description:hover::placeholder {
    color: var(--text-color);
}

#edit_quest_description:hover {
    color: var(--text-color);
}

#edit_quest_description::placeholder {
    transition: color 0.1s ease-out;
    color: var(--placeholder-text-color);
}

#edit_quest_description::first-letter {
    text-transform: uppercase;
}

#edit_quest_description::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

#edit_quest_description::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

#edit_quest_description::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color);
    /* color of the scroll thumb */
    border-radius: 15px;
    /* roundness of the scroll thumb */
    border: 5px solid transparent;
    background-clip: padding-box;
}