/*ITEMS PAGE*/
* {
    --item-height: 125px;
    --item-content-height: 90px;

}

.dashboardContent[items] {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    overflow: hidden;
    flex-wrap: unset;
    gap: 20px;
}

.dashboardContent[items] .inputWrapper{
    height: 20px;
    min-height: 40px;

    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 20px;
}

.dashboardContent[items] .inputWrapper::after {
    content: "";
    font-family: 'Poppins', 'FontAwesome', sans-serif;
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    left: 0;
    transform: translate(50%, 20%);
    color: var(--placeholder-text-color) ;
}

.dashboardContent[items] .inputWrapper > input {
    height: 100%;
    width: 70%;
    /* border: 2px solid var(--menu-color);*/
    border: none;
    box-shadow: inset 0 0 0 2px var(--sidebar-color);
    /* color: var(--text-color); */
    text-indent: 2.3rem;
    background-color: var(--menu-color);
    /* padding-left: 2rem; */
    border-radius: var(--modal-border-radius);
    /* margin-left: 40px; */
    color: var(--placeholder-text-color);
    transition: color 0.1s ease-out;
    caret-color: var(--menu-color);
    position: relative;
}

.dashboardContent[items] .inputWrapper input:focus {
    outline: 0;
    color: var(--text-color);
}

.dashboardContent[items] .inputWrapper input:hover::placeholder {
    color: var(--text-color);
}

.dashboardContent[items] .inputWrapper input:hover {
    color: var(--text-color);
}

.dashboardContent[items] .inputWrapper input::placeholder {
    transition: color 0.1s ease-out;
    color: var(--placeholder-text-color);
}

.dashboardContent[items] .inputWrapper select {
    height: 100%;
    width: 20%;
}


.dashboardContent[items] .itemsWrapper {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboardContent[items] .itemCategory {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5px;
    gap: 20px;
}

.dashboardContent[items] .itemsWrapper .item {
    height: var(--item-height);
    width: 90%;
    min-width: 700px;
    background-color: var(--menu-color);
    border-radius: var(--modal-border-radius);
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 20px;
    /* justify-self: center; */

}

.item .itemIconHolder {
    height: calc(var(--item-content-height) - 2 * 5px);
    width: 80px;
    min-width: 80px;

    background-color: var(--sidebar-color);
    border: 5px solid var(--sidebar-color);
    border-radius: var(--modal-border-radius);
    /* align-self: center; */
    margin-left: 20px;
    /* margin-left: 20px; */
    /* justify-self: center; */

}

.item .iconHolder img{
    /* height: 85px;
    width: 85px; */
    object-fit: contain;
    /* margin-left: 20px; */
    /* justify-self: center; */
}

.item .itemMiddleBlock {
    height: var(--item-content-height);
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    /* justify-content: space-evenly; */
    /* background-color: antiquewhite; */
    /* align-self: center; */
}

.itemMiddleBlock span.itemName {
 font-weight: bold;
 display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

}

.itemMiddleBlock span.itemName:only-child {
    margin-top: auto;
    margin-bottom: auto;
}

.itemMiddleBlock span.itemName span {
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--placeholder-text-color);
   }

   .itemMiddleBlock span.itemRarity[rarity="Uncommon"] {
    color: green;
}

.itemMiddleBlock span.itemRarity[rarity="Rare"] {
    color: skyblue;
}

   .itemMiddleBlock span.itemRarity[rarity="Very Rare"] {
    color: purple;
}

.itemMiddleBlock span.itemRarity[rarity="Legendary"] {
    color: orange;
}

    


.itemMiddleBlock span.itemDescription {
    font-size: 0.8rem;
    color: var(--placeholder-text-color);
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}


.item .itemSecondMiddleBlock  {
    height: var(--item-content-height);
    width: 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    color: var(--placeholder-text-color);

    /* justify-content: space-evenly; */
    /* background-color: antiquewhite; */
    /* align-self: center; */
}

.itemSecondMiddleBlock .informationPart {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 5px;

}

.item .currency {
    height: var(--item-content-height);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    gap: 5px;
}

.currency span {
    font-weight: bold;
    font-size: 0.9rem;
    /* color: var(--placeholder-text-color); */
}
.currency svg {
    height: 26px;
    width: 26px;
    /* margin-left: 5px; */
}