@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.theme-dark {
    --text-color: #ddd;
    --navbar-text-color: #fff;
    --sidebar-color: #202225;
    --menu-color: #2F3136;
    --content-color: #36393F;
    --placeholder-text-color: #8e8e8e;
    --header-height: 100px;
    --content-padding: 20px 0px;
    --clr-border: #202225;
}

/* .theme-light {
    --text-color: #272727;
    --navbar-text-color: #000;
    --primary-bg-color: #e0e0e0;
    --secondary-bg-color: #ececec;
    --tertiary-bg-color: #d8d8d8;
    --placeholder-text-color: #202020;
} */

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    height: var(--header-height);
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

/* For Google Charts */

svg>g>g:last-child {
    pointer-events: none
}