#map-container {
    height: 100%;
    width: 100%;
}

#map {
    height: calc(100%);
    width: calc(100%);
    background: var(--content-color);
}

.dashboardContent[map] {
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.dashboardContent[map]>div {
    height: unset;
    width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;

}

img.huechange {
    filter: hue-rotate(150deg);
}

.leaflet-sidebar-tabs {
    background-color: var(--sidebar-color) !important;
}

.leaflet-control {
    background-color: var(--sidebar-color);
}

.leaflet-sidebar-tabs>li:hover, .leaflet-sidebar-tabs>ul>li:hover {
    background-color: var(--menu-color) !important;
}

.leaflet-sidebar-tabs>li.active, .leaflet-sidebar-tabs>ul>li.active {
    background-color: var(--content-color) !important;

}

.leaflet-sidebar-header {
    padding-left: 40px !important;
    background-color: var(--content-color) !important;
}

.leaflet-sidebar-content {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.leaflet-sidebar-pane.active#locationPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leaflet-sidebar-content .locationCategory {
    padding: unset;
    margin: 0 !important;
    width: 100%;
    /* min-height: 50px; */
    max-height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* flex-wrap: wrap; */

    gap: 5px;
    /* justify-content: space-between; */
    /* gap: 100px; */
    align-items: center;
    /* transition: max-height 0.4s ease; */
}

/* .leaflet-sidebar-content .locationCategory:not(:nth-child(2)) {
    margin: -10px 0;
} */

.locationCategory .locationCategoryName, .locationCategory i {
    color: #000 !important;
    font-weight: bold;
    padding: 0 20px;
}

.locationCategory i.open {
    transform: rotate(90deg);
}

.locationCategory.open {
    max-height: unset;
    /* background-color: aqua; */
}

.locationCategoryHeader {
    padding: 0 0px;
    width: 100%;
    min-height: 50px;
    /* max-height: 50px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;

}

.amountOfLocations {
    color: #000 !important;
}

.location {
    width: calc(100% - 40px);
    height: 25px;
    display: flex;
    align-items: center;

    /* margin: 0 auto; */
    padding-left: 5px;
    margin: 0px 60px;
    background-color: #fff;
    cursor: pointer;
}

.location .locationName {
    color: #000 !important;
    /* padding: 0 20px; */

    /* margin: 0px;
    padding: 0px; */
}

/* .locationCategory:has(i.open) {
    transform: rotate(90deg);
    background-color: var(--content-color) !important;
} */
.leaflet-sidebar-pane {
    padding: 0 20px !important;
}

.leaflet-sidebar-tabs>li, .leaflet-sidebar-tabs>ul>li {
    color: var(--text-color) !important;
}

.leaflet-sidebar-pane.active#filterPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.leaflet-sidebar-pane.active#filterPanel .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    background-color: #fff;
}

.leaflet-sidebar-pane.active#filterPanel span {
    color: #000;
    font-weight: bold;
}



/* CHECKBOX SLIDERS */
.filter .switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

.filter .switch input {
    display: none;
}

.filter .slider {
    /* border: 2px solid  var(--menu-color); */
    background-color: var(--placeholder-text-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.filter .slider:before {
    background-color: var(--navbar-text-color);
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
}

.filter input:checked+.slider {
    background-color: #66bb6a;
}

.filter input:checked+.slider:before {
    transform: translateX(13px);
}

.filter .slider.round {
    border-radius: 17px;
}

.filter .slider.round:before {
    border-radius: 50%;
}

/* CHECKBOX SLIDER ACTIONS */
/* #cities-checkbox[checked=false] ~ img[src*="cities"] {
    display: none;
} */
img.hidden {
    display: none !important;
}