.menu {
    width: 0em;
    /* transition: width 1s; */
}

.menu[guild] {
    width: var(--menu-width);
    background-color: var(--menu-color);
    color: var(--text-color);
    height: 100%;
    box-sizing: border-box;
    /* position: fixed; */
    margin-left: 5em;
    overflow: scroll;
    scrollbar-width: none;
    position: relative; 
}


.menu::-webkit-scrollbar {
    display: none;
}

header.menuHeader { 
    padding: 1.3em;
    position: fixed;
    z-index: 10;
    background-color: inherit;
    width: var(--menu-width);
}

header.menuHeader span {
    font-size: var(--header-font-size);

}

/* header.menuHeader.collapsed {
    width: 0rem;
} */

.menuContent {
    box-sizing: border-box;
    padding: var(--content-padding);
    margin-top: var(--header-height);
}

.menuCategory {
    box-sizing: border-box;
    font-size: var(--menu-font-size);
    font-weight: bold;
}



.menuCategoryItem span.menuIcon{
    font-family: 'Poppins', 'FontAwesome', sans-serif;
    width: var(--menu-font-size );
    font-size: var(--menu-font-size);
    display: block;
    padding-left: 30px;
    padding-right: 15px;
}

.menuCategoryItem span:not(span.menuIcon){
    padding: 0;
    font-size: var(--menu-sub-font-size);
    align-self: center;
}


.menuCategory:nth-child(2) {
    margin: 1.3em 0px;
}

.menuCategory span {
    padding: 0px 1.3em;
}

.menuCategoryItem {
    font-size: var(--menu-font-size);
    font-weight: lighter;
    padding: 0.1em 0px;
    transition: 200ms background-color;
    display: flex;
    flex-direction: row;
}

.menuCategoryItem:hover {
    cursor: pointer;
    background-color: #42494c;
}

.menuCategory span a {
    text-decoration: none;
}

