input[type="checkbox"] {
    display: none;
}

input[action="edit"]:checked~.modal[action="edit"],
input[action="delete"]:checked~.modal[action="delete"],
input[action="create"]:checked~.modal[action="create"],
input[action="status"]:checked~.modal[action="status"] {
    display: flex;
}

input[action="edit"]:checked~.modal-background[action="edit"],
input[action="delete"]:checked~.modal-background[action="delete"],
input[action="create"]:checked~.modal-background[action="create"],
input[action="status"]:checked~.modal-background[action="status"] {
    display: block;
}

input {
    /* border: 2px solid var(--menu-color);*/
    border: none;
    box-shadow: inset 0 0 0 2px var(--menu-color);
    /* color: var(--text-color); */
    background-color: var(--content-color);
    padding-left: .8rem;
    border-radius: 20px;
    margin-left: 40px;
    color: var(--placeholder-text-color);
    transition: color 0.1s ease-out;
    caret-color: var(--menu-color);
}

input:focus {
    outline: 0;
    color: var(--text-color);
}

input:hover::placeholder {
    color: var(--text-color);
}

input:hover {
    color: var(--text-color);
}

input::placeholder {
    transition: color 0.1s ease-out;
    color: var(--placeholder-text-color);
}

/* Modals */
.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 550px;
    background-color: var(--content-color);
    display: none;
    flex-direction: column;
    cursor: default;
    z-index: 9999;
    border-radius: var(--modal-border-radius);
    overflow: hidden;
}

.modal.session {
    width: 400px;
    height: 650px;
}

.modal-content {
    box-sizing: border-box;
    padding: calc(var(--modal-side-padding)/2) var(--modal-side-padding);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100%);
}

.modal-footer {
    background-color: var(--menu-color);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    width: 75%;
    height: 60%;
    /* margin-top: 15px; */
    background-color: var(--menu-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-wrapper>i.fa-spinner {
    position: absolute;
    display: none !important;
    color: var(--content-color);
}

.button-wrapper>i.fa-spinner.active {
    display: block !important;
}

.modal-content input {
    margin-left: 0;
    border-radius: 5px;
    padding: 5px;
}

.modal input[type="button"] {
    padding-left: revert;
    border-radius: var(--modal-border-radius);
    cursor: pointer;
    border: none;
    color: var(--sidebar-color);
    font-weight: bolder;
    outline: 0;
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.modal .modal-footer input[type="button"] {
    margin-left: unset;
}

.modal[action="status"] .modal-content input[type="button"] {
    width: 30%;
}

#create_quest {
    background-color: var(--success-color);
}

#create_quest:disabled {
    background-color: var(--disabled-success-color);
}

#edit_quest {
    background-color: var(--edit-color);
}

#edit_quest:disabled {
    background-color: var(--disabled-edit-color);
}

#delete_quest {
    background-color: var(--delete-color);
}

.modal[action="status"] .done {
    background-color: var(--success-color);
}

.modal[action="status"] .expired {
    background-color: orange
}

.modal[action="status"] .failed {
    background-color: var(--delete-color);
}


.modal .modal-content input[type="button"]:disabled {
    cursor: default;
}

.modal .modal-content form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal[action="delete"],
.modal[action="status"] {
    height: fit-content;
}

.modal[action="delete"] form,
.modal[action="status"] form {
    flex-direction: row !important;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between !important;
}


.modal-header {
    background-color: var(--menu-color);
    /* background-color: var(--content-color); */
    color: var(--text-color);
    /* border-bottom: 1px solid #dddddd; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    user-select: none;
    padding: 10px var(--modal-side-padding) 5px var(--modal-side-padding);


}
 
.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 10px;
    font-weight: normal;
    /* line-height: 50px; */
    color: var(--text-color);
    font-size: var(--modal-title-font-size);
    display: inline-block;
}

.modal-header label {
    box-sizing: border-box;
    color: var(--placeholder-text-color);
    float: right;
    cursor: pointer;
    margin-left: auto;
}

.modal-header .icon {
    height: 50%;
    width: auto;
}

.modal-header .icon .bot-icon {
    height: 100% !important;
    width: 100% !important;
}

.modal-header label i {
    transition: color 0.1s ease-out;

}

.modal-header label:hover i {
    color: var(--text-color);
}

.modal-content .label-input-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.modal-content .label-input-section label {
    text-transform: uppercase;
    font-size: var(--menu-sub-font-size);
    color: var(--placeholder-text-color);
    font-weight: bold;
    position: relative;
}

.modal-content .label-input-section label.required::after {
    content: " *";
    position: absolute;
    transform: translate(50%, 0);
    top: 0;
    text-transform: unset;
    font-size: var(--kpi-sub-font-size);
    color: var(--error-color);
    font-weight: normal;
}


/* EDIT QUEST */
.edit-label {
    user-select: none;
    color: var(--placeholder-text-color);
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: red; */
    transition: all .2s ease;
}

.edit-label i {
    transition: all .5s ease;
}

.edit-label:hover i {
    color: rgb(51, 170, 250);
}

/* 
.deleteQuestModal p {
    font-size: .8rem;
} */

.modal-content p.questDeleteTitle {
    margin-bottom: 0;
}

.description-field {
    height: 200px;
    padding: 5px;
    resize: none;
    /* box-shadow: inset 0 0 0 2px var(--menu-color); */
    /* color: var(--text-color); */
    background-color: var(--sidebar-color);

    border-radius: 5px;
    color: var(--placeholder-text-color);
    transition: color 0.1s ease-out;
    caret-color: var(--menu-color);
}

.description-field:focus {
    outline: 0;
    color: var(--text-color);
}

.description-field:hover::placeholder {
    color: var(--text-color);
}

.description-field:hover {
    color: var(--text-color);
}

.description-field::placeholder {
    transition: color 0.1s ease-out;
    color: var(--placeholder-text-color);
}

.description-field::first-letter {
    text-transform: uppercase;
}

.description-field::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

.description-field::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.description-field::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color);
    /* color of the scroll thumb */
    border-radius: 15px;
    /* roundness of the scroll thumb */
    border: 5px solid transparent;
    background-clip: padding-box;
}

.title-field {
    background-color: var(--sidebar-color);
}

.title-field::first-letter {
    text-transform: uppercase;
}


/* DELETE QUEST */
.trash-label {
    user-select: none;
    color: var(--placeholder-text-color);
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* background-color: red; */
    transition: all .2s ease;
}

.trash-label i {
    transition: all .5s ease;
}

.trash-label:hover i {

    color: orangered;
}

/* CREATE QUEST */

.new-quest-label {
    user-select: none;
    color: var(--placeholder-text-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.new-quest-label:hover {
    cursor: pointer;
}

.label-input-section input,
.label-input-section textarea,
.label-input-section .select {
    box-shadow: unset;
    border: 2px solid var(--sidebar-color);
    border-radius: var(--modal-border-radius);
    /* padding: 10px; */
    box-sizing: border-box;
}

.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
    border-radius: 5px;
}

.select_trigger {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: .8rem;
    /* font-weight: 300; */
    background: transparent;
    cursor: pointer;
}

.select_trigger span,
.select_trigger i.fa-chevron-down {
    color: var(--placeholder-text-color);
}

.select_trigger:hover span,
.select_trigger:hover i.fa-chevron-down {
    color: var(--text-color);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    width: calc(100% + 4px);
    left: -4px;
    right: 0;

    margin-top: 2px;
    /* border: 2px solid var(--menu-color); */
    border-top: 0;
    /* background: var(--menu-color); */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.select.open .custom-option {
    counter-increment: player-list-counter;
    transition: transform 0.2s, visibility 0.2s;
    opacity: 1;
    transform: translate(0px,0);
    transition-delay: calc(var(--index) * 25ms);
}

.select.open .custom-options {
    opacity: 1;
    transition: all 0.2s;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    border: 2px solid var(--menu-color);
    background: var(--menu-color); 
    opacity: 0;
    transform: translate(10px,0);

    position: relative;
    padding: 5px;
    font-size: .8rem;
    /* font-weight: 300; */
    color: var(--text-color);
    border-top: 1px solid var(--content-color);
    /* line-height: 60px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.custom-option.locked {
    user-select: none;
    pointer-events: none;
    cursor: normal;
}
.custom-option .playerIcon {
    height: 100%;
    width: 20px;
    overflow: hidden;
    position: relative;
}

.custom-option span.character {
    margin-left: auto;
    margin-right: 30px;
}

.custom-option .playerIcon img {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.custom-option:hover {
    cursor: pointer;
    background-color: var(--sidebar-color);
}

.custom-option.selected {
    background-color: var(--sidebar-color);
}

.custom-option.selected::after {
    content: '';
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 0;
    transform: translate(-50%,25%);
}

label#players .select-wrapper {
    text-transform: none;
}



label#players {
    /* max-height: 150px; */
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.userListBox {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.userListBox .leftSide,
.userListBox .rightSide {
    width: 50%;
    height: 100%;
}

.addUserDisplay {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--placeholder-text-color);
    background-color: var(--sidebar-color);
    font-size: 1.3rem;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    /* font-size: var(--menu-sub-font-size); */
    transition: color .2s ease;
    
}
div#addPlayer:hover,
div#addPlayer:hover .addUserDisplay {
    color: var(--text-color);
    cursor: pointer;
    
}
div#addPlayer {
    margin-left: 5px;
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    width: fit-content;
    text-align: center;
    background-color: var(--sidebar-color);
    border-radius: var(--modal-border-radius);
    padding-right: 10px;
}
.userDisplay{
    margin-left: 5px;
    position: relative;
    display: flex;
    align-items: center;
    height: 25px;
    width: fit-content;
    text-align: center;
}

.userDisplay.locked::after {
    content: "🔒";
    font-size: .8rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(200%, 15%);
}

.userDisplay.unlocked::after {
    content: "🔓";
    font-size: .8rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(200%, 15%);
}

.userDisplay .userAvatarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25px;
}

.userDisplay .userAvatarWrapper img,
.userDisplay .userAvatarWrapper i{
    height: 90%;
    width: auto;
    border-radius: 50%;
}

.userDisplay .userAvatarWrapper i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userDisplay .userName{
    margin-left: 1rem;
    white-space: nowrap;
    text-transform: none;
    margin-top: auto;
    margin-bottom: auto;
    transition: color .2s ease;
}
