.dashboardContent[sessions] {
    flex-direction: column;
    flex-wrap: unset;
    gap: 20px;
    /* height: 600px; */
}

.dashboardContent[sessions] section {
    min-height: calc(var(--title-height) + var(--title-height) / 2);
    /* overflow: unset; */
    flex-shrink: 0;
}

.dashboardContent[sessions] section h1 {
    display: flex;
    align-items: center;
    background-color: var(--menu-color);
    margin: 0;
    width: fit-content;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;

}

.dashboardContent[sessions] section details h1 i {
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
}

.dashboardContent[sessions] section details[open] h1 i {
    transform: rotate(90deg);
}

.dashboardContent[sessions] section details[open].closing h1 i {
    transform: rotate(0deg);
}



.dashboardContent[sessions] section details {
    /* background-color: var(--sidebar-color); */
    display: flex;
    /* height: fit-content; */
    height: calc(var(--title-height) + 25px);
    transition: height .2s ease-out;
    position: relative;
    outline: none;
    /* overflow: auto; */
}

.dashboardContent[sessions] section details summary {
    height: var(--title-height);
    /* overflow: hidden; */
    /* display: inline; */
    list-style: none;
    cursor: pointer;
    user-select: none;
    outline: none;
    width: fit-content;
    /* position: relative; */
    

}

.dashboardContent[sessions] section details summary h1 #createSessionRequest {
    position: absolute;
    margin: 0;
    right: 0;
    transform: translate(125%,0);
    border: 2px solid var(--menu-color);
    border-radius: 5px;
    color: var(--placeholder-text-color);
    box-sizing: border-box;
    padding: 3px 5px;
    font-size: var(--menu-sub-font-size);
    transition: color .2s ease;
    cursor: pointer !important;

}

label.new-session-label {
    cursor: pointer !important;
}

.dashboardContent[sessions] section details summary h1 p:hover {
    color: var(--text-color);
}

/* .dashboardContent[sessions] section details summary[data-type="requested"]::after {
    content: 'Newest: Monday (17/12) 17:00';
}

.dashboardContent[sessions] section details summary[data-type="planned"]::after {
    content: 'Next: Monday (17/12) 17:00';
}

.dashboardContent[sessions] section details summary[data-type="past"]::after {
    content: 'Last: Monday (17/12) 17:00';
} */

.dashboardContent[sessions] section details summary::after {
    content: attr(data-session-date);
    font-size: var(--menu-sub-font-size);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    color: var(--placeholder-text-color);
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--title-height) / 2);
    transform: translate(0, 200%);
    width: 100%;
    background-color: var(--menu-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    /* overflow: auto; */
}

.dashboardContent[sessions] section details[open] summary::after {
    transition: opacity .2s ease-out;
    opacity: 0;
}

.dashboardContent[sessions] section details[open] {
    height: 560px;
    /* height: fit-content; */
}

.dashboardContent[sessions] section details[open]::after {
    display: none;
}


@keyframes open {
    0% {
        /* opacity: 0.8; */
        height: 0;
    }

    100% {
        height: 470px;
        /* opacity: 1; */
    }
}

/* closing animation */
@keyframes close {
    0% {
        /* opacity: 1; */
    }

    100% {
        /* opacity: 0.8; */
        height: 0;
    }
}

details summary~* {
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.dashboardContent[sessions] section details[open] summary~* {
    animation-name: open;
}

/* closing class */
/* details.closing summary~* {
    animation-name: close !important;
} */

details.closing {
    /* animation-name: close !important; */
    height: calc(var(--title-height) + var(--title-height) / 2) !important;
}

/* calc(var(--title-height) + 28px) */
details.closing .embla__dots {
    opacity: 0 !important;
    /* height: auto !important; */

}



/* .dashboardContent[sessions] section details summary > *{
    display: inline;
} */

.dashboardContent[sessions] h1 .count {
    font-size: calc(var(--header-font-size) * 1.25);
}

.dashboardContent[sessions] h1 .title {
    margin-left: 10px;
    font-size: var(--header-font-size);
}

/* .dashboardContent[sessions] section h1:hover + .embla {
    height: 20px;
}

.dashboardContent[sessions] section h1:hover + .embla__dots {
    opacity: 0;
    user-select: none;
    cursor: default;
} */

/* .dashboardContent[sessions] .embla.closed {
    height: 20px;
} */

/* Carousel for embeds */
.embla {
    overflow: hidden;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: var(--menu-color);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 470px;
    transition: all 200ms ease;
    /* width: 100%; */
    /* margin-left: auto;
    margin-right: auto; */
}

.embla__viewport {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 5px;
    /* box-sizing: border-box; */
    background-color: var(--menu-color);


}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    display: flex;
    width: 100%;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
    height: auto !important;
}

.embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
}

.embla__dots .embla__dot:only-child {
    display: none;
}

.embla__dot:after {
    background-color: var(--placeholder-text-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
}

.embla__dot.is-selected:after {
    background-color: #efefef;
    opacity: 1;
}




.dashboardContent[sessions] .embla__slide {

    flex: 0 0 10%;
    /* Slide covers 25% of the viewport */
    padding: 5px;
    box-sizing: border-box;
}

/* .embla__slide:is(:not(:first-child)) {
    transform: scale(0.9);
} */

/* .dashboardContent[sessions] .embla__slide:hover {
} */

/* Session Embed */
.embedWrapper {
    position: relative;
    transition: all .5s ease;

    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--content-color);
    box-shadow: inset 0 0 5px var(--sidebar-color);
    /* transform: scale(0.95); */
}

.slideItem:hover .embedWrapper {
    /* transform: scale(1); */
    transform: translateY(-5px);
}

.slideItem:hover .embedButtons {
    transform: translateY(-5px);
    opacity: 1;
}


.embed {
    position: relative;
    height: 100%;
}

.embedWrapper h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: .9em;

}

.embedWrapper h5 {
    margin: 0;
    font-size: .75em;

}

.embedWrapper .embedField {
    margin-top: 5px;
}

.embedWrapper p.embedFieldValue {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    font-size: .7em;
    display: inline-block;
    position: relative;
    line-height: 180%;
}

.embedWrapper code {
    /* margin: 0; */
    padding: 2px;
    box-sizing: border-box;
    font-size: .7em;
    display: inline-block;
    background-color: var(--sidebar-color);
    border-radius: 2px;
}

.embedWrapper p.objective {
    /* margin: 0; */
    padding-left: 8px;
}

.embedWrapper p.objective::before {
    /* margin: 0; */
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--content-color);
    top: 0;
    left: 0;
}


.embedWrapper p.italic {
    font-style: italic;
}

.embedWrapper span.user {
    background-color: rgba(88, 101, 242, .6);
    border-radius: 2px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    font-weight: normal;

}



.embedWrapper span.user:hover {
    background-color: rgba(88, 101, 242, 1);
}

.embedWrapper span#addPlayer { 
    /* position: absolute; */
    /* margin: 0; */
    /* right: 0; */
    /* transform: translate(125%,0); */
    /* border: 2px solid var(--sidebar-color); */
    box-shadow: inset 0 0 5px var(--sidebar-color);
    border-radius: 5px;
    color: var(--placeholder-text-color);
    box-sizing: border-box;
    padding: 2px;
    /* font-size: var(--menu-sub-font-size); */
    transition: color .2s ease;
    cursor: pointer;
    margin-left: 5px;
}

.embedWrapper span#addPlayer:hover {
    color: var(--text-color);

}

.embedThumbnail {
    top: 0;
    transform: none !important;
    right: 0 !important;
    height: auto;
}

.embedWrapper img {
    position: absolute;
    width: 20%;
    object-fit: contain;
    right: 5%;
    top: 0;
    border-radius: 10px;
    transform: translate(0%, -33%);

}

.embedWrapper .embedFooterWrapper {
    position: absolute;
    /* left: 0; */
    bottom: 0;
    /* transform: translate(0%, 100%); */
}

.embedWrapper .embedFooter {
    position: relative;
}

.embedWrapper .embedFooter .imgWrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    transform: translate(0, 25%);
}

.embedWrapper .embedFooter .imgWrapper img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embedWrapper .embedFooter p.footerText {
    font-size: .7em;
    padding-left: 25px;
}

/* Embed Buttons */
.embedButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin-top: 10px;
    transition: all .5s ease;
    opacity: 0;
    /* background-color: yellow; */
}

.embedButtons .button {
    display: flex;
    font-size: .8em;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;

}

.button.approve {
    background-color: green;
}

.button.decline {
    background-color: red;
}

.button.join {
    background-color: var(--sidebar-color);
}