.sidebar {
    width: 5em;
    height: 100%;
    position: fixed;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    box-shadow: 1px 0px 25px 0px rgba(0, 0, 0, 0.25);
    z-index: 15;

}

header.sidebarHeader {
    justify-content: center;
}

.icon {
    height: 3.75em;
    width: 3.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-200%, -50%);
    background-color: #ddd;
    height: 3rem !important;
    width: .25rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bot-icon {
    height: 3.75em !important;
    width: 3.75 em !important;
    border-radius: 50%;
    overflow: hidden;
    transition: border-radius 150ms linear;
}

.guild-icon {
    height: 3.4em !important;
    width: 3.4em !important;
    margin: 0.3em 0px;
    border-radius: 50%;
    overflow: hidden;
    transition: border-radius 150ms linear;
}

.bot-icon:hover, .guild-icon:hover {
    border-radius: 15px;
}

.icon[gIcon]:hover:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-200%, -50%);
    background-color: #ddd;
    height: 2rem;
    width: .25rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.sidebarContent {
    height: calc(100% - var(--header-height) - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: var(--content-padding);
}

.sidebarContent::-webkit-scrollbar {
    display: none;
}



.extendMenu {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    /* transition: all 1 ease-in-out; */

}

.extendMenu:hover {
    cursor: pointer;
}

.extendMenu i.fa-chevron-right {
    transform: rotateY(0deg);
    transform-origin: center center;
    transition: all .3s ease;

}

.extendMenu i.fa-chevron-right:first-child,
.extendMenu i.fa-chevron-right.flip:last-child {
    transition-delay: 0s;
}

.extendMenu i.fa-chevron-right:nth-child(2),
.extendMenu i.fa-chevron-right.flip:nth-child(2) {
    transition-delay: .1s;
}

.extendMenu i.fa-chevron-right:last-child,
.extendMenu i.fa-chevron-right.flip:first-child {
    transition-delay: .2s;
}

/* .extendMenu i.fa-chevron-right.flip:first-child {
    transition-delay: .2s;
} */

/* .extendMenu i.fa-chevron-right.flip:nth-child(2) {
    transition-delay: .1s;
}

.extendMenu i.fa-chevron-right.flip:last-child {
    transition-delay: 0s;
} */



.extendMenu:hover i.fa-chevron-right {
    /* transition: all 1 ease-in-out !important; */

    /* transform: scale(1.2); */
}

.extendMenu i.fa-chevron-right.flip {
    transform: rotateY(180deg)
}