input[type="checkbox"] {
    display: none;
}

input[action="status"]:checked~.statusQuestModal {
    display: flex;
}

input[action="status"]:checked~.status-modal-background {
    display: block;
}

.status-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* display: block; */
    z-index: 9998;

}

.statusQuestModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 150px;
    background-color: var(--content-color);
    display: none;
    /* display: flex; */
    flex-direction: column;
    cursor: default;
    z-index: 9999;
    border-radius: 20px;
    overflow: hidden;
}

.modal-content {
    margin-left: 10%;
    margin-right: 10%;

    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10% - 10%);
    /* justify-content: space-evenly; */
}

.modal-content input {
    margin-left: 0;
    border-radius: 5px;
    padding: 5px;
}

/* 
.editButton>i.fa-spinner {
    position: absolute;
    display: none !important;
    color: var(--content-color);
}

.editButton>i.fa-spinner.active {
    display: block !important;
} */

.statusQuestModal .modal-content form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statusQuestModal .modal-content input[type="button"] {
    padding-left: revert;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: var(--content-color);
    font-weight: bolder;
    outline: 0;
    height: 50%;
    width: 30%;
    box-shadow: none;
}

.statusQuestModal .modal-content input[value="Done"] {
    background-color: lightgreen;
}

/* .statusQuestModal .modal-content input[value="Done"]::after {
    content: '';
    width: 16px;
    height: 16px;
    color: green;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins', 'FontAwesome', sans-serif;

} */

.statusQuestModal .modal-content input[value="Expired"] {
    background-color: orange;

}

.statusQuestModal .modal-content input[value="Failed"] {
    background-color: rgb(240, 77, 77);
}

.modal-header {
    background-color: var(--menu-color);
    color: var(--text-color);
    /* border-bottom: 1px solid #dddddd; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    user-select: none;
}

.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 6%;
    line-height: 50px;
    color: var(--text-color);
    font-size: 1.2rem !important;
    display: inline-block;
}

.modal-header label {
    box-sizing: border-box;
    /* border-left: 1px solid #dddddd; */
    font-size: 1.2rem !important;
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}

.modal-header label:hover i {
    color: var(--placeholder-text-color);
}


.label-input-section label {
    position: relative;
}