style 
    include ../assets/css/modal.css
    include ../assets/css/mapUploadform.css

#modalBackgroundMap 

.modal(action="create")#uploadMapModal
    .modal-header
        .icon
            .bot-icon
                img(src=bot_icon alt="Chthulu Avatar")
        h3 Upload map
        label(for="uploadMapModal") 
            button#closeButtonMap
                i.fa-solid.fa-xmark.fa-xl
    .modal-content#mapUploadModal
        form(action="create" method="POST" enctype="multipart/form-data")
            .label-input-section
                label().required Title
                input(type="text" autocomplete="off" spellcheck="false" id="map_title" oninput="updateInput()" onkeydown="return event.key != 'Enter';" maxlength="30").title-field
            .label-input-section
                label.optional Description
                textarea(cols="5" rows="5" maxlength="400" spellcheck="false" autocomplete="off" id="map_description" oninput="updateInput()").description-field
    .modal-footer           
        .button-wrapper
            input(id="upload_map" type="button" value="Create" onclick="createMapEntry()")