doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/632dfea1bf.js" crossorigin="anonymous")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        title Chthulu Dashboard
        block styles 
        block scripts 
        
    body.preload
        block bodyContent