doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/bb66dc6df8.js" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
        script(src=`https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js`)
        //- script(src="../../../node_modules/awesome-notifications/src/index.var.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css")

        script.
            function pushNotify(status, title, text) {
                new Notify({
                    status: status,
                    title: title,
                    text: text,
                    effect: 'slide',
                    speed: 500,
                    customClass: null,
                    customIcon: null,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 5000,
                    gap: 20,
                    distance: 20,
                    type: 2,
                    position: 'right bottom'
                })
            };
            function createElementFromHTML(htmlString) {
                var div = document.createElement('div');
                div.innerHTML = htmlString.trim();
            
                // Change this to div.childNodes to support multiple top-level nodes.
                return div.firstChild;
            }

        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        title Chthulu Dashboard
        block styles 
        block scripts 
        
    body.preload
        dialog#loader_modal.loader_modal
            img(src=bot_icon alt="Chthulu Avatar")
            .cssload-container
                .cssload-bouncywrap
                    .cssload-cssload-dotcon.cssload-dc1
                        .cssload-dot
                    .cssload-cssload-dotcon.dc2
                        .cssload-dot
                    .cssload-cssload-dotcon.dc3
                        .cssload-dot

        block bodyContent