doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/632dfea1bf.js" crossorigin="anonymous")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        title Chthulu Dashboard
        block styles 
        block scripts 
        
    body.preload
        dialog#loader_modal.loader_modal()
            img(src=bot_icon alt="Chthulu Avatar")
            .cssload-container
                .cssload-bouncywrap
                    .cssload-cssload-dotcon.cssload-dc1
                        .cssload-dot
                    .cssload-cssload-dotcon.dc2
                        .cssload-dot
                    .cssload-cssload-dotcon.dc3
                        .cssload-dot

        block bodyContent